<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails at the
  <a href="http://RubyLearning.com">Learning Homepage/a>.
  To get help on this sample app, see the
  <a href="http://rubylearning.com/satishtalim/tutorial.html"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>