<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
This is the home page for my private self-study 
<a href="https://wintop001.herokuapp.com/"> Learn How to use Ruby on Rails </a>
Sample website.
</p>